
@{
    ViewBag.Title = "SearchPatient";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchPatient</title>
</head>
<body>
    <form method="post">
        <input type="text" name="PersonName" placeholder="输入患者姓名" />
        <input type="submit" value="查询" /> 
    </form>
</body>
</html>

